header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding-bottom:20px;
    padding-top:auto;
    padding-right:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color:#202c39;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items:center;
    z-index:99;
}
.navigation a{
    display:fixed;
    padding:10px 20px;
    background:transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight:500;
    margin:0 10px;
    transition: background 0.3s, color 0.3s;
    background-color: #f2d492;

}
.navigation a:hover{
    background-color:white;
    
}    

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
    background-color: #e1e5ee;
    flex-direction: column;
}
.typewriter h1{ 
    overflow:hidden;
    border-right:.15em solid #f2d492;
    white-space:nowrap;
    margin:0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
.search-box{
    width: 600px;
    background: white;
    margin-top: 4vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search {
    background:transparent;
    border:0;
    outline:0;
    padding:10px 20px;
    background:transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight:500;
    margin:0 10px;
    transition: background 0.3s, color 0.3s;
    background-color: #f2d492;

}
.search:hover{
    background-color:white;
}
.result-box ul{
    border-top:1px solid #999;
    padding: 15px 10px;

}
.result-box p{
    list-style:none;
    border-radius:3px;
    padding:15px 10px;
    cursor:pointer;

}
.result-box p:hover{
    background: #B5EFD1;
}

@keyframes typing{
    from { width: 0 }
    to { width: 100%; }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f29559; }
}